
<div class="container">
  <h1 class="mb-5">Welcome to Products</h1>

  <div class="row">


    <div class="card" style="width:400px; margin: 0 20px">
      <img class="card-img-top" src="image/laundry_managment.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Laundry Management</h4>
      </div>
    </div>

    <div class="card" style="width:400px; margin: 0 20px">
      <img class="card-img-top" src="image/Attendance-management-system.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Student Attendance Management</h4>
      </div>
    </div>

    <div class="card" style="width:400px; margin: 0 20px">
      <img class="card-img-top" src="image/online_voting.jfif" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Student Attendance Management</h4>
      </div>
    </div>



  </div>


</div>
